body {
    background: black;
    color: white;
    font-family: serif;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 60px;
    height: 10%;
}

.Gameplay {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#container {
    margin: 5% auto;
    border-radius: 5px;
    text-align: center;
    /* margin-bottom: 20%; */
    height: 50%;

}

.box {
    display: inline-block;
    border: 1px solid;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.b{
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 5px;
    margin-left: -35px;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}

.alert {
    height: 75px;
    width: 125px;
    display: inline-block;
    background: ghostwhite;
    position: relative;
    z-index: 10;
    margin-top: -50px;
}

#Display {
    margin: 5% auto;
    text-align: center;
    width: 100%;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
    height: 40%;
}

button{
    height: 50px;
    width: 120px;
    margin: 20px;
    border-radius: 10px;
}

.score{
    margin: 0 15px;
}

#turn{
    margin-bottom: 38px;
}

.white{
    background-color: white;
    color: black;
}
